/* ----------------------Fonts-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------------------------Common Styles/Utilities/Base Styles--------------------------- */
body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #FFFFFF;
  width: 870px;
  padding: 30px;
  margin-bottom: 20px;
}

hr{
  color: #D1D1D1;
  margin-bottom: 27px;
}

/*------------------------------------- Top Players Styles----------------------------------- */

.top-players{
  margin-bottom: 30px;
}
.section-title{
  font-size: 24px;
  color: #562EFF;
  margin-top: 3px;
  margin-bottom: 30px;
}

.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}

.player{
  display: flex;
  align-items: center;
}

.player img{
  width: 56px;
  height: 56px;
}

.player-name{
  Margin-left: 16px;
  font-size: 18px;
}

/*---------------------------- Top-Blogs Styles ----------------------------------*/

.blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px;
}
.blog{
  display: flex;
}

.blog .thumbnail img{
  width: 177px;
  height: 117px;
}

.blog-info{
  margin-left: 16px;
}

.blog-title{
  font-size: 20px;
}

.blog-author{
  font-size: 16px;
  color: #9F9F9F;
}

.blog-author a{
  text-decoration: none;
  color: #562EFF;
}

/* ----------------------------------Latest Courses Styles---------------------------------------- */
.courses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.course{
  padding: 16px 12px;
  border-radius: 13px;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.05);
}

.courses .course-banner img{
  width: 224px;
  height: 104px;
}

.course-title{
  font-size: 20px;
  color: #1E1E1E;
}

.course-author{
  font-size: 16px;
  color: #ED6B4F;
}

.course-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-star{
  font size: 12px;
}

.fa-star.filled{
  color: #FFC014;
}

.fa-star.empty{
  color: #AEAEAE;
}

.course-info div span{
  color: #A2A2A2;
  font-size: 15px;
}

.fa-clock{
  font-size: 20px;
}
.course-duration{
  background-color: #FFE4E8;
  font-size: 15px;
  color: #FF4A60;
  padding: 5px 10px;
  border-radius: 25px;
}

/*-------------------------------------------------- Media Queries -----------------------------------*/

/*------------------------------------------- FOR MOBILI DEVICES------------------------------------- */

@media only screen and (max-width:688px) {
  .container{
    width: 100%;
  }

  .players, .blogs, .courses{
    background-color: tomato;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .player, .blog, .course{
    flex-direction: column;
    align-items: center;
  }
}

/*------------------------------------------- FOR Tablet/iPad DEVICES------------------------------------- */

@media only screen and (min-width:689px) and (max-width:992px) {
  .container{
    width: 100%;
  }

  .players, .blogs, .courses{
    background-color: palegreen;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .player, .blog, .course{
    flex-direction: column;
    align-items: center;
  }
}



